.cart-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  &__block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__remove-button {
    // ...
  }
}